.product {
    height: 320px;
    width: 100%;
    padding: 10px;
    text-align: center;

    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(99, 94, 94, 0.548);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Mahsulotga soyalar qo'shdim */
    transition: transform 0.3s ease; /* Hover effektini qo'shdim */

    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Vertical joyni to'g'ri taqsimlash */
}

.product:hover {
    transform: translateY(-5px); /* Hover holatida mahsulotni yuqoriga surish */
}

.product_image {
    height: 50%;
    width: 70%;
    margin: 0 auto;
    transition: transform 0.3s ease; /* Hover effektini qo'shish */
}

.product_image img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Rasmning to'liq bo'lishini ta'minlash */
}

.product_info {
    height: 50%;
    width: 100%;
    padding: 5px;


    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.product_name {
    font-size: 1.2rem; 
    font-weight: bold;
    margin-bottom: 10px;
}

.product_price {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
}

.btn-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;

    width: 100%;
    padding: 0 5px;
}

.btn-action{
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn_toCart {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;

    display: flex;
    gap: 5px;
}

.btn_toCart:hover {
    background-color: #45a049; /* Hover holatida rang o'zgaradi */
}