.page {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 80px;
  gap: 64px;
  font-family: 'Courier New', Courier, monospace;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  height: 100%;
  width: 100%;
}

.button{
  padding: 10px;
  width: 120px;
  cursor: pointer;
  user-select: none;
}

